.container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  overflow: auto;
}
.message {
  position: absolute;
  top: 10%;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  background: #787c7e;
  font-size: 26px;
  box-shadow: 0px, 5px, 5px, 0px dimgray;
}

.title {
  letter-spacing: 0.2rem;
  /* font-size: 36px; */
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
  color: #820458;
}

.cube-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.cube {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.letter {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: 28px; */
  font-size: 1.5vw;
  font-weight: 500;
  /* width: 55px;
  height: 50px; */
  width: 4vw;
  height: 3.5vw;
  background-color: #989484;
  color: white;
  border-radius: 3px;
}

.reset-board {
  padding: 10px;
  background-color: dodgerblue;
  color: white;
  /* font-size: 18px; */
  font-size: 1.3vw;
  margin-left: 20px;
}

.top {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  /* border-bottom: 1px solid grey; */
}
.setting {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  /* border-bottom: 1px solid grey; */
}

.correct {
  background: #398874;
  color: #fff;
}

.present {
  background: #820458;
  color: #fff;
}

.absent {
  background: #161803;
  color: #fff;
}
.bottom {
  display: flex;
  /* width: 100vw;
  height: 100%; */
  justify-content: center;
  padding: 5px 0px;
}

@media only screen and (max-width: 600px) {
  .letter {
    width: 40px;
    height: 35px;
  }

  /* .reset-board {
    font-size: 12px;
  } */
  /* .message {
    font-size: large;
  } */
}
